.form {
  display: flex;
  padding: 5px;
  text-align: left;
  justify-content: center;
}

.formInput {
  border-radius: 2px;
  border: none;
}

.buttonDiv {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.submitButton {
  color: goldenrod;
  background-color: rgb(44, 43, 43);
  border-radius: 4px;
  padding: 2px;
  border: none;
}

.submitButton:hover:enabled {
  color: black;
  background-color: gold;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: rgb(104, 104, 104);
  color: black;
}

.error {
  color: brown;
}
