.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(66, 65, 65, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  border: none;
  border-radius: 6px;
}

.header {
  background: goldenrod;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: black;
}

.content {
  padding: 1rem;
  background-color: white;
}

.actions {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.actions button {
  border-radius: 3px;
  padding: 3px;
  border: solid black 1px;
  margin: 3px;
}

.actions button:hover {
  background-color: gold;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
